body {
    background-color: rgb(237, 218, 203);
}

header {
    height: 10vw;
    width: 50%;
    background-color: rgba(242, 222, 219);
    border-radius: 2vw;
    margin-left: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100vw;
    background-image: url("media/side\ order.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5vw
}

footer {
    height: 8vw;
    width: 100%;
    border-radius: 2vw;
    background-color: rgba(242, 222, 219);
    color: rgb(57, 59, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 5vw;
    color: rgb(57, 59, 61);
}

.PreSplatoon {
    height: 20vw;
    width: 60%;
    background-color: rgba(242, 222, 219, 0.75);
    color: rgba(57, 59, 61, 0.75);
    border-radius: 0.85vw;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Splatoon {
    height: 45vw;
    width: 60%;
    background-color: rgba(97, 205, 50, 0.75);
    color: rgba(240, 248, 255, 0.75);
    border-radius: 0.85vw;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Splatoon2 {
    height: 45vw;
    width: 60%;
    background-color: rgb(205, 192, 50, 0.75);
    color: rgba(240, 248, 255, 0.75);
    border-radius: 0.85vw;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Octatext {
    font-size: 3vw;
    align-self: center;
}

.flavortextO {
    font-size: 1vw;
    margin: 1vw;
}

.flavortext0 {
    font-size: 0.5vw;
    margin: 3vw;
    align-self: center;
}


.PreSplatoon:active {
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 0, 0, 0);
}

.Splatoon:active {
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 0, 0, 0);
}

.Splatoon2:active {
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 0, 0, 0);
}

/* just in case I need it

@media screen and (max-width:800px) {
    
}*/